<div class="confirm-wrapper">
  
  <div class="warning-container">
    <p class="warning-text">Questa è un operazione irreversibile, tutti i tuoi dati andranno cancellati.</p>
    <p class="warning-text">Potrai riiscriverti quando vuoi, ma perderai le tue prenotazioni e gli abbonamenti</p>
  </div>

  <div class="confirm-actions">
    
    <div class="gray-box alert-text" (click)="confermaCancellazione()">
      Cancellami
    </div>

    <div class="gray-box" (click)="annulla()">
      Annulla
    </div>

  </div>

</div>