<div class="auth-page">
  <div class="auth-container">
    <h1 class="auth-title">Login</h1>
    
    <div class="input-group">
      <label for="username">Username o email</label>
      <input type="text" id="username" class="auth-input">
    </div>
    
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="auth-input">
    </div>
    
    <div class="checkbox-group">
      <input type="checkbox" id="remember">
      <label for="remember">Salva accesso</label>
    </div>
    
    <button class="confirm-btn">Conferma</button>
    
    <p class="auth-text">Non sei registrato?</p>
    <a routerLink="/registrazione" class="signup-btn">Sign up</a>
  </div>
</div>