<div class="auth-page">
  <div class="auth-container">
    <h1 class="auth-title">Login</h1>
    
    <div class="input-group">
      <label for="username">Username o Email</label>
      <input type="text" id="username" class="auth-input" [(ngModel)]="loginData.username">
    </div>
    
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="auth-input" [(ngModel)]="loginData.password">
    </div>
    
    <button class="confirm-btn" (click)="eseguiLogin()">Conferma</button>
    
    <p class="auth-text">Non sei registrato?</p>
    <a routerLink="/registrazione" class="signup-btn">Sign up</a>
  </div>
</div>