<section>
  <h2>Iscrizioni</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Utente</th>
        <th>Attività</th>
        <th>Pagamento</th>
        <th>Registrazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let iscrizione of iscrizioni">
        <td>{{ iscrizione.id }}</td>
        <td>{{ iscrizione.utente?.codiceFiscale || iscrizione.utente?.username }}</td>
        <td>{{ iscrizione.attivita?.nomeAtt }}</td>
        <td>{{ iscrizione.pagamento?.idPagamento }}</td>
        <td>{{ iscrizione.dataRegistrazione }}</td>
      </tr>
    </tbody>
  </table>
</section>
