<!-- Header principale -->
<header *ngIf="!isDashboardActive() && !isCalendarioActive() && !isEventiActive() && !isAssistenzaMenuActive()" [ngClass]="isHomeActive() ? 'main-header' : 'minimal-header'">    <!--Questo (il logo) ci sarà sempre, ovunque e nella stessa posizione statica-->
  <!-- Logo sempre visibile -->
  <div class="logo-container">
    <a routerLink="/home">
      <img src="/polisporticket_logo.png" alt="PolisporTicket Logo" class="logo">
    </a>
  </div>

  <!-- Menu navigazione -->
  <nav class="main-nav" *ngIf="isHomeActive()">
    <!--Il menù invece solo nella home, quindi se la home è attiva-->
        <!-- Link principali -->
    <a routerLink="/eventi">Eventi</a>
    <a routerLink="/calendario">Calendario</a>
    <a routerLink="/abbonamenti">Abbonamenti</a>
    <a routerLink="/assistenza-menu">Assistenza</a>

    <!--Il login invece solo se non si è loggati, altrimenti cliccando sul nome si va nell'area personale-->
    <a *ngIf="!loggedUser" routerLink="/login" class="login-btn">Login</a>
    <a *ngIf="loggedUser" routerLink="/area-personale/benvenuto" class="user-btn">{{ loggedUser.username }}</a>
  </nav>
</header>

<main>
  <!--Il router-outlet è il punto in cui vengono incollate le conversazioni, tramite il -->
  <router-outlet></router-outlet>
</main>

