<div class="calendar-page-wrapper">
  <div class="calendar-card">

    <div class="calendar-header">
      <img src="/polisporticket_logo.png" alt="Polisporticket" class="header-logo" routerLink="/home">
      <h1 class="header-title">Abbonamenti</h1>
      <div class="header-user">
        <span class="user-text" *ngIf="isLoggedIn">
          {{ username }}
        </span>
      </div>
    </div>

    <div class="nav-link">
      <a routerLink="/area-personale/abbonamenti">I tuoi abbonamenti</a>
    </div>

    <!-- TUTTI GLI ABBONAMENTI -->
    <div class="section altri-section">
      <h2 class="altri-title">Tutti gli Abbonamenti:</h2>
      <div class="cards-container">
        
        <div class="abb-card" *ngFor="let tipo of tipiAbbonamento">
          <h3 class="card-title">{{ tipo.nome | uppercase }}</h3>
          <p class="card-price">{{ tipo.prezzo | number:'1.2-2' }}€</p>
          <p class="card-or">Durata: {{ tipo.tipo === 'TEMPO' ? tipo.durataMesi + ' mesi' : 'Senza scadenza' }}</p>
          <p class="card-price-seduta">Ingressi: {{ tipo.maxIngressi === -1 ? 'Illimitati' : tipo.maxIngressi }}</p>
          <button class="grey-btn" (click)="apriPagamento(tipo.nome)">Iscriviti ora</button>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- Modale di Pagamento -->
<div class="modal-overlay" *ngIf="isPagamentoOpen" (click)="chiudiModali()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <div class="modal-header">
      <h2 class="section-title">Acquisto Abbonamento</h2>
      <button class="close-modal-btn" (click)="chiudiModali()">X</button>
    </div>
    
    <div class="modal-body">
      <p class="detail-row">Stai per acquistare l'abbonamento: <strong>{{ tipoSelezionato }}</strong></p>
      
      <div class="payment-mock-form">
        <input type="text" class="pay-input" placeholder="Numero Carta (16 cifre)" [(ngModel)]="numeroCarta">
        <div class="pay-row">
          <input type="text" class="pay-input mini" placeholder="MM/AA" [(ngModel)]="scadenzaCarta">
          <input type="text" class="pay-input mini" placeholder="CVV" [(ngModel)]="cvv">
        </div>
        <input type="text" class="pay-input" placeholder="Nome Titolare" [(ngModel)]="nomeIntestatario">
      </div>

      <div class="modal-actions mt-4">
        <button class="action-btn confirm-pay-btn" (click)="confermaPagamentoFinale()">Conferma e Paga</button>
      </div>
    </div>
  </div>
</div>
