<div class="auth-page">
  <div class="auth-container split-layout">
    
    <h1 class="auth-title full-width">REGISTRAZIONE</h1>
    
    <div class="form-left">
      <input type="email" id="email" class="auth-input" placeholder="Email">
      <input type="text" id="username" class="auth-input" placeholder="Username">
      <input type="password" id="password" class="auth-input" placeholder="Password">
      <input type="text" id="nome" class="auth-input" placeholder="Nome">
      <input type="text" id="cognome" class="auth-input" placeholder="Cognome">
      <input type="text" id="codice-fiscale" class="auth-input" placeholder="Codice Fiscale">
      <input type="text" id="genere" class="auth-input" placeholder="Genere">
      <input type="text" id="data-nascita" class="auth-input" placeholder="Data di nascita" onfocus="(this.type='date')" onblur="(this.type='text')">
      <input type="text" id="citta" class="auth-input" placeholder="Città di residenza">
    </div>

    <div class="form-right">
      <div class="checkbox-group right-check">
        <input type="checkbox" id="consent">
        <label for="consent">Acconsento</label>
      </div>
      <button class="confirm-btn">Prosegui</button>
    </div>

  </div>
</div>