<section>
  <h2>Sottoscrizioni</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Utente</th>
        <th>Abbonamento</th>
        <th>Pagamento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sottoscrizione of sottoscrizioni">
        <td>{{ sottoscrizione.id }}</td>
        <td>{{ sottoscrizione.utente?.codiceFiscale || sottoscrizione.utente?.username }}</td>
        <td>{{ sottoscrizione.abbonamento?.numeroAbb }}</td>
        <td>{{ sottoscrizione.pagamento?.idPagamento }}</td>
      </tr>
    </tbody>
  </table>
</section>
